*{margin: 0; padding: 0;}
body{background-color: #fff;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.center{
	margin: 0 auto;
	display: block;

}

.header{
	background-color: #5BAEFA;	
}

.main-header{
	max-width: 990px;
}

.main-header-menu{
	float: right;
}
.main-header-menu>ul>li{
	float: left;
	padding: 20px;
	list-style: none;

}
.logo{
	float: left;
	display:block;
}
.after-header{
	background-image: url(images/ornament.jpg);
	background-repeat: repeat-x;
}
